In [1]:
# import rpy2.robjects.packages as rpackages
# from rpy2.robjects.vectors import StrVector

# utils = rpackages.importr('utils')
# utils.chooseCRANmirror(ind=1) # select the first mirror in the list
# packnames = ('dbarts', 'grf', "MatchIt")

# names_to_install = [x for x in packnames if not rpackages.isinstalled(x)]
# if len(names_to_install) > 0:
#     utils.install_packages(StrVector(names_to_install))

In [2]:
import numpy as np
import pandas as pd

from rpy2.robjects.packages import importr

import validationMethods

## Using the sim data (ATE = -1)

In [3]:
data = pd.read_csv("../data_xdyc.csv")
outcome, treatment = ('Y', 'X')
data.head()

          Y    X   Z1   Z2        Z3        Z4
0  1.596993  1.0  0.0  5.0  5.283806 -1.924519
1  0.021979  1.0  1.0  7.0  3.334693 -2.062749
2 -0.160412  1.0  1.0  5.0  3.249584 -0.105862
3 -0.544710  1.0  0.0  3.0  1.449811 -2.015598
4  1.374190  0.0  0.0  3.0  3.066210 -3.303400

### Running Multiple Algos to estimate ATE

In [5]:
df = validationMethods.run_model_fits('Y', 'X', data, repeats=10, sample_frac = 0.7, replace=False)

NameError: name 'non_bootstrap_results_df' is not defined